<!DOCTYPE html>
<html>

<body>
    <!-- process:include component-2/dialog-b/dialog-b-inner.html -->
    <!-- /process -->
    <section>
      
        <h2>Login</h2>

        <form name="data.loginForm">
            <p><b>Login:</b></p>
            <div class="form-group"
                 data-ng-class="{'has-error bg-danger': data.loginForm.login.$invalid}">
                <input name="login"
                     class="form-control"
                     data-ng-required="true"
                     type="text"
                     data-ng-model="data.fields.login"/>
            </div>
            <p/>
            <p><b>Password:</b></p>
            <div class="form-group"
                 data-ng-class="{'has-error bg-danger': data.loginForm.password.$invalid}">
                <input name="password"
                     class="form-control"
                     data-ng-required="true"
                     type="password"
                     data-ng-model="data.fields.password" />
            </div>
        </form>

        <button type="button"
             id="loginButton"
             class="btn btn-success"
             data-ng-click="login()">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</button>

    </section>
</body>

</html>
